SpringBoot_Activemq_Jms/src/main/resources/xsd/Product_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hikex.com/Product_Schema"
	xmlns:tns="http://www.hikex.com/Product_Schema" elementFormDefault="qualified">

    <element name="Product">
    <complexType>
    	<sequence>    		
    		<element name="ProductName" type="string"></element>
    	</sequence>
    	<attribute name="ProductId" type="string" use="required"></attribute>
    </complexType>
    </element>    
</schema>